{% extends 'base.html' %}
{% block content %}
    <div>
            <h1>Search Manga</h1>
            <form method="POST "action="/called_manga">
                {{form.hidden_tag()}}
                {% for field in form if field.widget.input_type != 'hidden'%}
                <p>
                  {{field.label}} 
                  {{field}}
                  <button class="btn btn-primary btn-sm">Search</button>
          
                </p>
                {% endfor %}
                
            </form>
                <!-- {% for manga in mangas %}
                    <img class="img-fluid" src="{{manga.get('thumb')}}" alt="Card image cap">
                    <form method="POST" action="/users/favorite/{{manga.get('title')}}">
                        <button>
                            <i class="fa fa-heart"></i> 
                        </button>
                    </form>
                    <h3>Title: {{manga.get('title')}}</h3>
                    <h5>Summary: {{manga.get('summary')}}</h5>
                    <h3>Genres: {{', '.join(manga.get('genres'))}}</h3>
                    <h4>Total Chapters: {{manga.get('total_chapter')}}</h4>

             
                {% endfor %} -->
    </div>
{% endblock %}